html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--font-color);
  background-color: var(--background-container);
  line-height: 0.8;
}

:root {
  --background-container: #1b1a17;
  --background-box: #1f1e1b;
  --heading-color: #a35709;
  --background-symbol: #ff8303;
  --font-color: #f0e3ca;
}

img {
  position: relative;
  top: 10px;
  width: 30%;
  height: 60%;
}

header {
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: var(--background-container);
  z-index: 500;
  display: flex;
  width: 100vw;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  box-sizing: border-box;
  height: 100%;
  margin: 10px 0 0 15px;
}

.logo > h2 {
  color: var(--background-symbol);
  margin-left: 15px;
}

h2 > span {
  color: var(--font-color);
}

.hamburger-menu {
  width: 100vw;
  height: 90vh;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 26, 23, 0.9);
  transition: all 0.5s ease;
}

/* dropdown menu */

.hamburger-menu ul > li {
  color: var(--font-color);
  list-style: none;
  font-size: 2.5rem;
  line-height: 2;
  cursor: pointer;
}

.hamburger-menu ul li > a {
  color: var(--font-color);
  text-decoration: none;
}

.hamburger-menu ul li > a:hover {
  color: var(--background-symbol);
  cursor: pointer;
}

.hamburger-menu ul li > a:focus {
  color: var(--background-symbol);
  cursor: pointer;
  outline: none;
}

.hamburger-ico {
  vertical-align: top;
  position: absolute;
  top: 20px;
  right: 40px;
  color: var(--font-color);
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 200;
}

/* For the java scripts */
.active {
  transform: translate(0, -100%);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-wrap: wrap;
}

/* headline */

.headline {
  box-sizing: border-box;
  padding: 0;
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background-symbol);
  position: relative;
}

/* this is the headline image */

.headline-img {
  line-height: 1.5;
  font-size: 1rem;
  box-sizing: border-box;
  position: absolute;
  top: 25em;
  padding: 0 2.8em;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-image: radial-gradient(100% 100% at 50% 100%, var(--background-box) 21.52%, var(--background-container) 100%);
}

.headline-img > img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 350px;
}

.headline-img > p {
  color: rgba(255, 131, 3, 0.2);
  line-height: 0.8;
  text-align: start;
  font-size: 0.9rem;
  width: 100%;
  height: 60%;
}

.headline > h1 {
  margin: 0;
  padding: 0.5em 1.5em 0 1.5em;
  line-height: 1.5;
  font-size: 2.5rem;
}

.headline > h2 {
  margin: 0;
  line-height: 1;
  color: var(--font-color);
  padding: 0.5em 1.5em 0 1.5em;
  text-align: center;
  font-size: 1.5rem;
}

.headline > p {
  line-height: 1.5;
  color: var(--font-color);
  padding: 0.5em 2.5em 0 2.5em;
  font-size: 1.5rem;
  font-family: 'Inconsolata', 'Times New Roman', Times, serif;
}

/* about me */

.about-me {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0 3.5em;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 35em;
}

.about-me > p {
  line-height: 1.5;
  color: var(--font-color);
  margin-top: 3em;
  font-size: 1.5rem;
  font-family: 'Inconsolata', 'Times New Roman', Times, serif;
  font-weight: 500;
}

/* skills box */

.skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 10em;
  padding: 0 1em 0 1em;
  width: 100%;
  box-sizing: border-box;
  background: radial-gradient(100% 100% at 50% 100%, var(--background-box) 21.52%, var(--background-container) 100%);
}

.skills > h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--background-symbol);
}

.skills ul > li {
  margin-top: 20px;
  list-style: none;
  width: 90%;
  background: linear-gradient(to right, var(--background-container), var(--background-box));
}

.skill-logo {
  width: 100%;
  padding-left: 2em;
  display: flex;
  align-items: center;
}

.works-img > img {
  width: 100%;
}

.skill-logo > span {
  margin-left: 0.7em;
  color: var(--font-color);
  font-size: 1.8rem;
  font-family: 'Inconsolata', 'Times New Roman', Times, serif;
  font-weight: 500;
}

.skill-logo a > {
  text-decoration: none;
}

a > svg:active path {
  fill: #ff8303;
}

a > svg:hover path {
  fill: #ff8303;
}

/* my works */

.my-works {
  width: 80%;
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  line-height: 2;
  font-weight: 500;
  background: radial-gradient(100% 100% at 50% 100%, var(--background-box) 21.52%, var(--background-container) 100%);
}

.my-works > h2 {
  font-size: 2.5rem;
  color: var(--background-symbol);
}

.blog {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2em;
  margin-top: 2em;
  background: linear-gradient(to top, var(--background-container), var(--background-box), var(--background-container));
}

.blog > h2 {
  color: var(--heading-color);
}

.blog > h3 {
  border-bottom: 1px solid var(--background-symbol);
}

.blog > p {
  font-family: 'Inconsolata', 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 25px;
  text-align: start;
}

.blog > button {
  width: 50%;
  height: 50px;
  margin-bottom: 30px;
  background-color: var(--background-box);
  color: var(--font-color);
  font-size: 1.3rem;
}

.blog button > span {
  font-size: 0.7rem;
}
